[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
django = "==5.1"
django-cors-headers = "==4.4.0"
django-dump-load-utf8 = "==0.0.4"
django-filter = "==24.3"
djangorestframework = "==3.15.2"
djangorestframework-simplejwt = "==5.3.1"
markdown = "==3.6"
pillow = "==10.4.0"
psycopg = "==3.2.1"
psycopg-binary = "==3.2.1"
psycopg2-binary = "==2.9.9"
pyjwt = "==2.9.0"
sqlparse = "==0.5.1"
typing-extensions = "==4.12.2"

[dev-packages]

[requires]
python_version = "3.9"
