.title {
  /* padding-top: 40px; */
  /* display: flex; */
  /* max-width: 500px; */
  font-size: 5vw;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* outline: 2px solid red; */
  margin: 10px;
  text-align: left;
}

.heroSection {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  padding: 100px 50px;
  /* align-items: start; */
  margin: 0 auto;
  background-color: #fff9f1;
  /* outline: 2px solid rgb(0, 255, 0); */
}