.holographic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.holographic-card {
  width: 350px;
  height: 300px;
  padding: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  --hover-bg-color: #fff;
  --hover-text-color: #000;
  transition: all 0.5s ease;
}

.holographic-card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg,
      transparent,
      transparent 30%,
      rgba(0, 255, 55, 0.3));
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.holographic-card:hover {
  background: var(--hover-bg-color);
  color: var(--hover-text-color);
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

.holographic-card:hover .hoverable-text {
  color: var(--hover-text-color);
}

.holographic-card:hover .hoverable-text-heading {
  color: var(--hover-heading-color);
}