.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80vw;
  padding: 20px;
  margin: 0 auto;
}

.notFoundTitle {
  font-weight: bold;
}

.notFoundSub {
  text-align: center;
}