body, html, p, h1, h2, span, p, a {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#order, #item {
  background-color: #fff9f1;
}

.not-delivered, .not-paid {
  background-color: #ffbe0b;
  padding: 8px 10px;
  width: 150px;
  text-align: center;
  border-radius: 20px;
  margin: 10px;
}

.delivered, .paid {
  background-color: #0ead69;
  padding: 8px 20px;
  width: 350px;
  text-align: center;
  border-radius: 20px;
  margin: 10px;
  color: #fff9f1;
}

#set {
  outline: 2px solid red;
}

.summaryContainer {
  margin-top: 50px;
  min-height: 90vh;
}