body, html, p, h1, h2, span, #p {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#payment {
  background-color: #fff9f1;
}

.orderContainer {
  margin-top: 50px;
  min-height: 90vh;
}