.carousel {
  /* outline: 1px solid red; */
  /* margin-left: 100px; */
  max-width: 370px;
}

#carousel {
  text-align: center;
  height: 550px;
  /* background-color: #fff9f1; */
}

#image {
  height: 90%;
  margin-bottom: 100px;
}